.quote-body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "body";
    min-height: 100vh;
}
.overlay{
    grid-area: body;
    background: linear-gradient(to bottom, rgba(242, 120, 75, 0.2),rgba(0,0,0,0.2));
    z-index: 2;
}
.all-quotes{
    grid-area: body;
    background-image: url(../assets/img/clouds3.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}
.text-sec{
    grid-area: body;
    z-index: 3;
}
.intro-heading{
    font-size: calc(112% + 3vh);
    font-family: 'Calistoga', cursive;
    font-style: italic;
}
.intro-moto{
    font-size: calc(100% + 0.5vh);
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 800;
}